@import "tailwindcss";

@theme {
  --font-Raleway: "Raleway", sans-serif;
  --font-OpenSans: "Open Sans", sans-serif;

  --color-DarkBlue-bg: hsl(217, 28%, 15%);
  --color-DarkBlue-MainBg: hsl(218, 28%, 13%);
  --color-DarkBlue-FooterBg: hsl(216, 53%, 9%);
  --color-DarkBlue-TestimonialBg: hsl(219, 30%, 18%);
  --color-Cyan: hsl(176, 68%, 64%);
  --color-Blue: hsl(198, 60%, 50%);
  --color-LightRed: hsl(0, 100%, 63%);
}